<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

    RewriteRule ^static - [L,NC]
    RewriteRule ^e-ref - [L,NC]

    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^ public/$1 [L]
</IfModule>
